{% extends "layout.html" %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
<h2>{{ recipe.title }}</h2>
{% if session.user_id == recipe.user_id %}
<p>
  <a href="/edit_recipe/{{ recipe.id }}">Muokkaa</a>
  <a href="/remove_recipe/{{ recipe.id }}">Poista</a>
  <a href="/images/{{ recipe.id }}">Kuvat</a>
</p>
{% endif %}
{% for image in images %}
<img src="/image/{{ image.id }}" alt="Reseptin kuva" />
{% endfor %}
<p>
{{ recipe.ingredients | show_lines }}
</p>
<ul>
  <li>Tekijä: <a href="/user/{{ recipe.user_id }}">{{ recipe.username }}</a></li>
{% if classes %}
  {% for class in classes %}
  <li>{{ class.title }}: {{ class.value }}</li>
  {% endfor %}
{% endif %}
</ul>
<h3>Kommentit</h3>
<ul>
  {% for comment in comments %}
  <li> 
    <p style="white-space: pre-line">{{ comment.comment }}</p>
    <a href="/user/{{ comment.user_id }}">{{ comment.username }}</a>
  </li>
  {% endfor %}
</ul>
{% if session.user_id %} 
<h4>Uusi kommentti</h4>
<form action ="/add_comment" method="post">
  Kommentti:<br>
    <textarea name="comment" rows="4" cols="50" maxlength="500" required></textarea>
    <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Lisää kommentti">
</form>
{% endif %}
<p>
  <a href="/">Takaisin</a>
</p>
  
{% endblock %}